@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.banner{
    width: 100%;
    height: fit-content;
    background-repeat: no-repeat;
    background-size: cover;
}
.buttons button{
    width: 8rem;
    height: 2.5rem;
    background: rgba(124, 124, 124, 0.4);
    border: none;
    outline: none;
    color: #fff;
    align-items: center;
}
.buttons button ion-icon{
    font-size: 13px;
    font-weight:bolder;
}
h1{
    font-size: 4rem;
    font-weight: bolder;
    color: #fff;
    font-family: 'Anton', sans-serif;
}
.buttons button:hover{
    color: #111;
    background: #e6e6e6e6;
}

.row{
    background: linear-gradient(180deg,transparent, rgba(83, 83, 83, 0.31),#111);
}